
<div class="test">
<h1>The Rom Database</h1>
<h4>The aim of this website is to list ANY device supported by ANY custom ROM.</h4>
<h2>There are some false positives in this list!</h2>
<h4>You are warned, I merged brands/models that haves the same device codename (I used codenames as primary key, if you tech guys prefer). But you can have two brands that use the same codename for their respecting device, while the devices are totally differents.</h4>
<ag-grid-angular class="test2"
[rowData]="rowData"
[columnDefs]="colDefs" 
(gridReady)="onGridReady($event)"/>
</div>
<div class="test">
    <h2>Number of devices per ROM</h2>
    <ag-grid-angular class="test2"
    [rowData]="romData2"
    [columnDefs]="coldefs2" 
    (gridReady)="onGridReady2($event)"/>
    </div>
<router-outlet />
